.container {
    font-family: 'Arial';
    background-color: #fafafa;
    height: 100vh;
    margin: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    display: flex;
  }

.input{
        border-radius: 5px;
        border: 1px solid #da4242;
        padding: 4px;
      }

  .buttonColor{ 
    padding: 4px 40px;
    background: #da4242;;
    border-radius: 6px;
    color: white;
}


.right {
  background-color: white;
  box-shadow: 3px 3px 5px #999;
  width: 75%;
  padding-top: 200px ;

}

.left {
    background-color: #d5d4d0;
    padding: 40px 120px;
    width: 15%;
    box-shadow: 3px 3px 5px #999;
    padding-top: 100px;
    font-size: 150%;
    
}

.welcome {
  font-family: 'Arial';
    background-color: #fafafa;
    height: 100vh;
    margin: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    display: flex;

}

.logo{
  text-align: center;

}

.choices {
  text-align: center;
  padding-top: 8px;
  
}


.add{
  width: 60px;
  float: right;
  padding-right: 12px;

}

.cards{
   width: 300px;
   height: fit-content;
  padding-top: 100px;
  margin-left: 350px;
  margin-right: 180px;  
  align-items: center; 
  padding-bottom: 30px;
  
  
}

.box {
  background-color: #999;
  box-shadow: 3px 3px 5px rgb(0, 0, 0);
  border-radius: 7px;
  height: 180px;
}

.hide{
  display: none;

}
.cardone{
  background-image: linear-gradient(to top, #fffbfb 0%, #999 100%);
  padding-top: 45px;
  height: 150px;
}

.cardtwo{
  background-image: linear-gradient(to top, #fffbfb 0%, #999 100%);
  padding-top: 45px;
  height: 150px;
}

.cardthree {
  background-image: linear-gradient(to top, #fffbfb 0%, #999 100%);
  padding-top: 45px;
  height: 150px;
}


.modalclose{
position: absolute;
top: 10px;
right: 10px;
cursor: pointer;
}

.modalb {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
background-color: rgb(0, 0, 0, 0.5);
display: flex;
justify-content: center;
align-items: center;
visibility: hidden;
opacity: 0;
transition: visibility 0s , opacity 0.5s; 
}
 .modalact{
  visibility: visible ;
  opacity: 1;
} 

.modal{
  position: relative;
  background-color: #fafafa ;
  width: 50%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;  

}


.cardicon {
  align-items: center;
  width: 340px;
}

.hideshow{
  margin-top: 8px;
  margin-left: 150px;
  padding: 4px 40px;
  border-radius: 6px;
  border: 1px solid #000000;
  color: rgb(0, 0, 0);
  background: #da4242;
  color: white;

  
}

.lockicon {
    align-items: center;
    width: 250px;
  }

  .modalimage{
    width: 180px;
   
  }
